<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 本地环境. 多个使用逗号隔开. 仅输出到控制台 -->
    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
            </encoder>
        </appender>

        <!-- 项目日志 -->
        <logger name="com.learn.yzh" level="DEBUG"  />
        <!-- 打印sql  -->
        <logger name="java.sql.PreparedStatement" level="DEBUG" />
        <logger name="java.sql.ResultSet" level="DEBUG" />

        <appender name="LOGSTASH"
                  class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>192.168.0.123:5044</destination>
            <!-- 日志输出编码 -->
            <encoder
                    class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <timeZone>UTC</timeZone>
                    </timestamp>
                    <pattern>
                        <pattern>
                            {
                            "severity": "%level",
                            "service": "${springAppName:-}",
                            "trace": "%X{X-B3-TraceId:-}",
                            "span": "%X{X-B3-SpanId:-}",
                            "exportable": "%X{X-Span-Export:-}",
                            "pid": "${PID:-}",
                            "thread": "%thread",
                            "class": "%logger{40}",
                            "rest": "%message"
                            }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
        </appender>

        <!-- 其他日志默认info级别 -->
        <root level="INFO" additivity="false">
            <appender-ref ref="LOGSTASH" />
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- 开发环境+测试环境. 多个使用逗号隔开. 仅输出到控制台 -->
    <springProfile name="local,test,testwo,spare">
        <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 保存日志文件的路径 -->
            <file>/usr/local/base/logs/ingcore_base.log</file>
            <!-- 日志格式 -->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
            </encoder>
            <!-- 追加 -->
            <append>true</append>
            <!-- 循环政策：基于时间创建日志文件 -->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 日志文件名格式 -->
                <fileNamePattern>/usr/local/base/logs/ingcore_base.%d{yyyy-MM-dd}.log</fileNamePattern>
                <!-- 最大保存时间：天-->
                <maxHistory>90</maxHistory>
            </rollingPolicy>
        </appender>
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
            </encoder>
        </appender>

        <!-- 项目日志 -->
        <!--<logger name="com.ingcore" level="INFO" >-->
        <!--<appender-ref ref="logfile" />-->
        <!--</logger>-->
        <!-- 打印sql  -->
        <logger name="java.sql.PreparedStatement" level="INFO" />
        <logger name="java.sql.ResultSet" level="INFO" />

        <!--<appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
        <!--<destination>10.66.177.66:4560</destination>-->
        <!--<encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder" />-->
        <!--</appender>-->

        <!-- 其他日志默认info级别 -->
        <root level="INFO" additivity="false">
            <!--<appender-ref ref="LOGSTASH" />-->
            <!--<appender-ref ref="CONSOLE"/>-->
            <appender-ref ref="logfile"/>
        </root>
    </springProfile>


    <!-- 生产环境日志， 仅输出到日志文件 -->
    <springProfile name="prod">
        <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 保存日志文件的路径 -->
            <file>/data/javadata/base/ingcore_base.log</file>
            <!-- 日志格式 -->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
            </encoder>
            <!-- 追加 -->
            <append>true</append>
            <!-- 循环政策：基于时间创建日志文件 -->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 日志文件名格式 -->
                <fileNamePattern>/data/javadata/base/ingcore_base.%d{yyyy-MM-dd}.log</fileNamePattern>
                <!-- 最大保存时间：天-->
                <maxHistory>90</maxHistory>
            </rollingPolicy>
        </appender>

        <!-- <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
             <destination>10.66.177.66:4560</destination>
             <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder" />
         </appender>-->

        <!-- 连接生产环境调试时，修改下面两个日志级别即可 -->
        <!-- 项目日志 -->
        <logger name="com.learn.yzh" level="INFO" additivity="false">
            <appender-ref ref="logfile" />
        </logger>
        <!-- 其他日志默认error级别 -->
        <root level="ERROR">
            <appender-ref ref="logfile"/>
        </root>
    </springProfile>
</configuration>