<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <script type="text/javascript" th:src="@{/js/lib/jquery-1.11.3.min.js}"></script>
        <script type="text/javascript" th:src="@{/ace/assets/js/jquery.validate.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/lib/lodash.js}"></script>
        <script type="text/javascript" th:src="@{/js/lib/layer/layer.js}"></script>
        <script type="text/javascript" th:src="@{/js/lib/select2.full.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/lib/calc.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/commons/global_ajaxsetup.js}"></script>
        <script type="text/javascript" th:src="@{/js/commons/strUtils.js}"></script>

        <style type="text/css">
            .m-pagination-size {
                display: none !important;
            }
            .layui-layer-btn.layui-layer-btn- {
                text-align: center;
            }
            .input-timer{
                width: 140px;
            }
        </style>
    </head>
</html>
